<div class="container bg-dark text-bg-dark">
  <div class="fix">
    <div class="logo">
      <pre style="font-family: 'Bauhaus 93', serif" class="cloud">CL   UDY</pre>
      <div class="sun">
        <img src="assets/sun.png" height="250" width="250" alt="sun shaped chart">
      </div>
      <p>WITH A CHANCE OF DATA</p>
    </div>
  </div>

  <div class="clouds">
    <div>
      <img src="assets/coulds.png" style="transform: scale(1, 1);" alt="cloud">
    </div>

    <div>
      <img src="assets/coulds.png" style="transform: scale(-1, 1);" alt="cloud">
    </div>
  </div>
  <div class="row justify-content-center" style="padding-bottom: 30px;">
    <div class="col-8">
      <p class="h4">Cloudy with a chance of data is an app that uses weather API created for
      Bazy Danych 2 course by Aleksandra Michalska. It is a great tool for managing weather stations and locations,
        as well as collecting and processing weather data.</p>
    </div>
  </div>
</div>
