body{

  background: url("assets/rain.jpg") fixed;
  background-size: cover;
}

.btn-purple
{
  color: white;
  background-color: #13f0fb !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
