<div class="container bg-dark" style="padding-bottom: 30px;">
    <table class="table table-striped table-dark table-bordered">
      <thead>
      <tr>
        <th scope="col">Data ID</th>
        <th scope="col">Server ID</th>
        <th scope="col">Location ID</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Temperature</th>
        <th scope="col">Min temperature</th>
        <th scope="col">Max temperature</th>
        <th scope="col">Humidity</th>
        <th scope="col">Windspeed</th>
        <th scope="col">Precipitation</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dataModel of data">
        <td> {{dataModel.dataId}}</td>
        <td> {{dataModel.serverId}}</td>
        <td> {{dataModel.locationId}}</td>
        <td> {{dataModel.timestamp}}</td>
        <td> {{dataModel.temperature}}</td>
        <td> {{dataModel.minTemperature}}</td>
        <td> {{dataModel.maxTemperature}}</td>
        <td> {{dataModel.humidity}}</td>
        <td> {{dataModel.windSpeed}}</td>
        <td> {{dataModel.precipitation}}</td>
      </tr>
      </tbody>
    </table>
    <!--    <a class="btn btn-purple" [routerLink]="['/stations/add', i]">Add new station to server</a>-->
</div>
